/*
Resetear el navegador
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Estilos de menu de navegación global del site */
.background-black{
  background: #000;
}
.header {
  height: 50px;
  background: #63605D;
  color: #FFF;
  padding: 15px 150px 0 150px;
}

.header h1{
  font-size: 20px;
  font-weight:normal;
  display: inline-block;
}

.menu {
  display: inline-block;
  float: right;
}

.menu p:first-child {
  font-weight: bold;
}
.menu p{
  float: left;
  font-size: 15px;
  font-weight: lighter;
  margin-left: 30px;
}

/* Estilos de la imágen del encabezado */
.img-header{
  background-image: url(../img/header.jpg);
  opacity: 0.5;
  background-size:cover;
  color: #FFF;
  text-align: center;
}

.img-header h2{
  font-weight: lighter;
  font-size: 100px;
  padding-top: 300px;
}

.img-header h3{
  font-weight: lighter;
  font-size: 50px;
  padding-bottom: 200px;
}

/*Estilos sección 1*/}
